* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}
.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 1146px;
    margin: 0 auto;

}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    display: flex;
    margin-right: 37px;
    align-items: center;
}

.logo__d {
color: #f16d7f;
font-weight: 400;
letter-spacing: 0.68px;
}

.header__form {
    display: flex;
    align-items: center;
}

.browse {
    display: flex;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background: url(img/Browse.png) no-repeat;
    background-size: 10px;
    background-position: 90% 50%;
    background-color: #cdcdcc;
    position: relative;
}

.browse>a {
    padding-right: 26px;
    padding-left: 15px;
    color: #222222;
font-size: 14px;
font-weight: 300;
line-height: 38px;
letter-spacing: 0.35px;
}

.browse:hover .drop {
    display: flex;
}

.header__input {
    width: 280px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-left: 15px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    border-left: 0px;
    border-left: 0px;
    border-right: 0px;
}

.header__button {
    width: 38px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    background: url(img/zoom.png) no-repeat;
    background-size: 15px;
    background-position: 50% 50%;
}

.header__cart {
    position: relative;
}

.header__cart:hover .drop-cart {
    display: flex;
}


.header__button_cart {
    border-radius: 3px;
    background: url(img/myaccount.png) no-repeat;
    background-color: #f16d7f;
    padding: 3px 19px;
    background-size: 9px;
    background-position: 90% 50%;
    padding-right: 35px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 26px;
}

.header__left-logo {
    padding-right: 13px;
}

.nav__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    background-color: #ffffff;

}

.nav__ul li {
    display: inline;
    list-style-type: none;
}

.nav__ul {

}

.nav__link {
    padding: 19px 25px ;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.nav__link:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.content_block_1__foto {
    display: flex;
    align-items: center;
    height: 665px;
    background: url(img/Layer_24.png) no-repeat;
}

.content_block_1 {
    display: flex;
    background-color: #e8e8e8;
    align-items: center;
    justify-content: center;
}

.content_block_1__text-1 {
    font-size: 60px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: -25px;
    margin-top: -14px;
}

.content_block_1__text-2 {
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0px;
    float: left;
}

.content_block_1__text {
    border-left: 10px solid #f16d7f;
    color: #222222;
    font-weight: 400;
    width: 600px;
    height: 85px;
    padding-left: 12px;


}

.content_block_1__text-2-pink {
    color: #f16d7f;
    letter-spacing: 1px;
    font-size: 40px;
    letter-spacing: 1px;
}

.content_block_2__left-big {
    width: 560px;
    height: 542px;
    background: url(img/Layer_30.png);
    margin-bottom: 20px;
}

.content_block_2__left-small {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.content_block_2__right-small {
    width: 560px;
    height: 261px;
    background: url(img/Layer_32.png);
    margin-bottom: 20px;
}

.content_block_2__right-big {
    width: 560px;
    height: 542px;
    background: url(img/Layer_31.png);
}

.content_block_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
    margin-bottom: 100px;
}

.content_block_2__left {
    padding-left: 3px;
}

.content_block_2__right {
    padding-right: 3px;
}

.content_block_2__label-text1 {
    font-size: 18px;
}

.content_block_2__label {
    color: #222222;
    margin-top: 26px;
    font-weight: 400;
    background: #ffffff;
    display: inline-block;
    padding: 16px 20px;
}

.content_block_2__label-text2 {
    color: #f16d7f;
font-size: 30px;
}

.product-box {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__text {
    padding: 20px 15px;
}

.product__name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.product__prise {
    color: #f16d7f;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
    margin-top: 15px;
}

.product__add {
    display: none;
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    color: #ffffff;
font-size: 13px;
font-weight: 700;
    top: 98px;
    left: 70px;
    text-align: center;
    line-height: 39px;
}

.product {
    position: relative;
    width: 263px;
    margin: 20px 0;
}

.product:hover .product__add {
    display: block;
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

product:hover .product__add {
    display: block;
}

.product:hover .product__img {
    filter: brightness(50%);
}

.product__img {
    width: 100%;
}

.browse-all {
color: #ffffff;
font-size: 16px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.4px;
    background-color: #f16d7f;
    padding: 0px 24px;
}

.browse-all-link {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 113px;
}

.offer {
        display: flex;
    justify-content: center;
}

.offer__bg {
    display: flex;
    width: 1140px;
    height: 529px;
    background-color: #222224;
}

.offer__bg-img {
    display: flex;
    background: url(img/Layer_38.png);
    width: 767px;
height: 529px;

}

.offer__bg-text1 {
    float: left;
}

.offer__bg-span {
    color: #f16d7f;
}

.offer__bg-text-main {
    margin-left: 39px;
    padding-top: 146px;
        font-size: 54px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.5px;
    color: #ffffff;
}

.offer_services-car-img {
    background: url(img/devele.png);
    width: 45px;
height: 32px;
}


.offer__services-title {
    margin-right: 80px;
    margin-bottom: 17px;
        color: #fbfbfb;
    font-size: 20px;
font-weight: 700;
letter-spacing: 0.5px;
}

.offer__services-description {
width: 225px;
color: #fbfbfd;
font-size: 14px;
font-weight: 300;
line-height: 24px;
/* Text style for "W, orldwid" */
letter-spacing: 0.35px;
    margin-bottom: 40px;
}

.offer__services {
    display: flex;
    justify-content: space-between;
    width: 373px;
    padding-top: 35px;
}

.offer__services-img {
    width: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer__services-img-car {
    background: url(img/devele.png);
    width: 45px;
    height: 32px;
}

.offer__services-img-sale {
    background: url(img/sales.png);
    width: 40px;
    height: 40px;
    margin-top: 120px;
}

.offer__services-img-king {
    background: url(img/king.png);
    width: 47px;
    height: 35px;
    margin-top: 137px
}

.offer__services-text {
    width: 260px;

}

.subscribe {
    display: flex;
    justify-content: center;
    margin-top: 98px;
}

.subscribe__bg {
    display: flex;
    justify-content: space-between;
        background: url(img/img-mail-foot.png);
        width: 1609px;
    height: 438px;

}

.subscribe__comment-content-img {
    background: url(img/subscribe__comment-content-img.png);
    width: 83px;
    height: 83px;
    margin-right: 28px;
}

.subscribe__comment-content-text-1 {
    width: 386px;
height: 68px;
color: #222224;
font-size: 16px;
font-style: italic;
line-height: 26px;
letter-spacing: 0.4px;
    margin-top: 10px;
}

.subscribe__comment-content-text-2 {
    color: #f16d7f;
font-size: 16px;
font-weight: 700;
font-weight: 700;
letter-spacing: 0.4px;
line-height: 26px;
    margin-top: 19px;
}

.subscribe__comment-content-text-3 {
    color: #222224;
font-size: 12px;
font-weight: 300;
letter-spacing: 0.3px;
line-height: 14px;
}

.subscribe__comment-content-buttom-1 {
    width: 38px;
height: 4px;
background-color: #d6d6d6;
    margin-left: 13px;
}

.subscribe__comment-content-buttom-3 {
    width: 38px;
height: 4px;
background-color: #d6d6d6;
    margin-left: 13px;
}

.subscribe__comment-content-buttom-2 {
    width: 38px;
height: 4px;
background-color: #f16d7f;
    margin-left: 13px;
}

.subscribe__comment-content-buttom {
    display: flex;
    margin-top: 40px;
    margin-left: 120px

}

.subscribe__comment {
    margin-left: 231px;
    margin-top: 111px;
}

.subscribe__comment-content {
    display: flex;
}

.subscribe__subscribe-content-text-1 {
    font-size: 24px;
letter-spacing: 0.6px;
line-height: 54px;
}

.subscribe__subscribe-content-text-2 {
    color: #222224;
font-size: 14px;
font-weight: 400;
}

.subscribe__subscribe-content-text {
    text-align: center;
}

.subscribe__subscribe-content-email {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.subscribe__subscribe-content-email-input {
    width: 304px;
height: 46px;
border-radius: 23px 0px 0px 23px;
background-color: #e1e1e1;
    border: 0px;
    opacity: 0.67;
color: #222224;
font-size: 14px;
font-weight: 400;
line-height: 54px;
/* Text style for "E, nter Yo" */
letter-spacing: 0.35px;
    padding-left: 30px
}

.subscribe__subscribe-content-email-button {
    width: 104px;
height: 46px;
border-radius: 0 23px 23px 0;
background-color: #f16d7f;
    color: #ffffff;
font-size: 14px;
font-weight: 400;
/* Text style for "Subscribe" */
letter-spacing: 0.35px;
    border: 0px;
}

.subscribe__subscribe {
    display: flex;
    align-items: center;
    margin-right: 300px;
}

.footer__block-1 {
    height: 458px;
    background-color: #ffffff;
        display: flex;
    justify-content: space-around;
    padding-top: 123px;
}

.footer__block-2 {

    height: 79px;
   background-color: #e6e6e6;
}

.footer__content {
}
.footer__blocks {
}

.footer__block-1-info-text {
    margin-top: 29px;
    width: 427px;
height: 180px;
color: #898989;
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.35px;
}

.footer__block-1-content {

}

.footer__block-1-nav {
    height: 180px;
}

.footer__block-1-nav-title {
    color: #f16d7f;
font-size: 18px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
letter-spacing: 0.45px;
    margin-bottom: 37px;
    margin-top: 15px;
}

.footer__block-1-nav-link {
    color: #898989;
font-size: 16px;
font-weight: 400;
}

.footer__block-1-nav-link:hover {
    color: #f16d7f;
}

.footer__block-1-nav-list {
    list-style-type: none;
    margin-bottom: 30px;
}

.footer__block-1-nav-ul {
}

.footer__block-2-left-copy {
    color: #7a7a7a;
font-size: 16px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.4px;
}

.footer__block-2-right-icon {
    width: 32px;
height: 32px;
background-color: #ffffff;
}

.footer__block-2-right-icon:hover{
    background-color: #f16d7f;
}

.footer__block-2-right-blocks {
    display: flex;
    justify-content: space-around;
    width: 228px;
}

.footer__block-2-right {

}

.footer__block-2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.face {
    background: url(img/face.png) no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.tweet {
        background: url(img/tweet.png) no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.in {
        background: url(img/in.png) no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.pinto {
        background: url(img/pinto.png) no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.g-plus {
        background: url(img/g+.png) no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.section__title {
    text-align: center;
    color: #222222;
font-size: 30px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.75px;
}

.section__title-p {
    text-align: center;
    color: #9f9f9f;
font-size: 14px;
font-weight: 400;
line-height: 54px;
letter-spacing: 0.35px;
    margin-top: -20px;
}

.navigator {
    height: 148px;
    width: 100%;
    background-color: #f8f3f4;
}

.navigator__content-left-text {
    color: #f16d7f;
font-size: 24px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
}

.navigator__content-right-nav-list {
    list-style-type: none;
}

.navigator__content-right-nav-link {
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
    color: #636363;
font-weight: 300;
}

.navigator__content-right-nav-link-pink {
    color: #f16d7f;
font-size: 16px;
font-weight: 700;
line-height: 20px;
}

.navigator__content-right-nav {

}

.navigator__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navigator__content-right-nav-ul {
    display: flex;
}

.shiping__content-01-title {
    color: #222222;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
    margin-top: 89px;
    margin-bottom: 39px;
}

.shiping__content-01-form {
    display: flex;
    justify-content: space-between;
    height: 370px;
    align-items: flex-end;
}

.shiping__content-01-form-left-title {
    color: #222222;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
    margin-bottom: 15px;
}

.shiping__content-01-form-left-text {
    color: #b3b2b2;
font-size: 13px;
font-weight: 400;
line-height: 20px;
    margin-bottom: 34px;
}

.shiping__content-01-form-left-radio-1 {
color: #222222;
font-size: 12px;
font-weight: 400;
    margin-bottom: 15px;

}

.shiping__content-01-form-left-radio-2 {
 color: #222222;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
    margin-bottom: 33px;
}








.shiping__content-01-form-left-title-2 {
color: #222222;
font-size: 13px;
font-weight: 400;
    margin-bottom: 15px;
}

.shiping__content-01-form-left-text-2 {
    color: #b3b2b2;
font-size: 13px;
font-weight: 400;
line-height: 20px;
    margin-bottom: 33px;
}

.shiping__content-01-form-left-text-3 {
    color: #b3b2b2;
font-size: 13px;
font-weight: 400;
line-height: 20px;
}

.shiping__content-01-form-left-text-4 {
    color: #b3b2b2;
font-size: 13px;
font-weight: 400;
line-height: 20px;
}

.shiping__content-01-form-left-button {
    margin-top: 38px;
    width: 180px;
height: 50px;
border: 1px solid #eaeaea;
background-color: #ffffff;
    color: #4a4a4a;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}

.shiping__content-01-form-left-button:hover {
        background-color: #f16d7f;
    color: #ffffff;
}

.shiping__content-01-form-right-title {
    color: #222222;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
    margin-bottom: 15px;
}

.shiping__content-01-form-right-text {
    color: #b3b2b2;
font-size: 13px;
font-weight: 400;
line-height: 20px;
    margin-bottom: 23px;
}

.shiping__content-01-form-right-email {
    color: #222222;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
    margin-bottom: 16px;
}

.shiping__content-01-form-right-email-int {
    width: 390px;
height: 45px;
border: 1px solid #eaeaea;
background-color: #ffffff;
}

.shiping__content-01-form-right-passwd-int {
    width: 390px;
height: 45px;
border: 1px solid #eaeaea;
background-color: #ffffff;
}

.shiping__content-01-form-right-pass {
    color: #222222;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 23px;
}

.shiping__content-01-form-right-req {
    margin-bottom: 23px;
margin-top: 16px;
    color: #ff0d0d;
font-size: 13px;
font-weight: 400;
line-height: 20px;
}

.shiping__content-01-form-right-button {
    margin-right: 32px;
    width: 180px;
height: 50px;
border: 1px solid #eaeaea;
background-color: #ffffff;
    color: #4a4a4a;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}


.shiping__content-01-form-right-button:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.shiping__content-01-form-right-forgot {
    color: #222222;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.shiping__content-01-form-right-forgot:hover {
   color: #f16d7f;
}

.shiping__content-paragraph-line {
    border: 0.5px solid #e8e8e8;
}


.shiping__content-paragraph {
    margin-top: 79px;
}

.shiping__content-paragraph-text {
    color: #222222;
font-size: 16px;
font-weight: 700;
line-height: 72px;
text-transform: uppercase;
}

.shiping__content-paragraph-text:hover {
    color: #f16d7f;
}

.single-page__content-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
height: 777px;
border: 1px solid #eaeaea;
background-color: #f7f7f7;
}

.single-page__content {
    display: flex;
    justify-content: center;
}

.single-page__content-slider-but-left {
    width: 47px;
height: 47px;

    background: url(img/slider-left.png) no-repeat;
    background-position: center;
    background-color: #2a2a2a;
}

.single-page__content-slider-but-left:hover {
    background-color: #f16d7f;
}

.single-page__content-slider-but-right {
    width: 47px;
height: 47px;
    background: url(img/slider-right.png) no-repeat;
    background-position: center;
    background-color: #2a2a2a;
}

.single-page__content-slider-but-right:hover {
    background-color: #f16d7f;
}





.single-page__content-slider-info-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1141px;
height: 730px;
border: 1px solid #eaeaea;
background-color: #ffffff;
    padding-top: 73px;
}

.single-page__content-slider-info {
}

.single-page__content-slider-info-main-header {
    color: #f16d7f;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
    padding-bottom: 14px;
}

.single-page__content-slider-info-main-header-line {
    margin: 0 43%;
    width: 14%;
height: 0.5px;
background-color: #eaeaea;
    margin-bottom: 17px;
}

.single-page__content-slider-info-main-tite {
    color: #4d4d4d;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
    margin-bottom: 67px;
}

.single-page__content-slider-info-main-text {
    text-align: center;
width: 60%;
    margin: 00 20%;
color: #5e5e5e;
font-size: 14px;
font-weight: 300;
line-height: 24px;
}

.single-page__content-slider-info-main-chaarah-text1 {
    color: #b9b9b9;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
   float: left;
}

.single-page__content-slider-info-main-chaarah-text2 {
    float: left;
    color: #b9b9b9;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}

.single-page__content-slider-info-main-chaarah-text1span {
    margin-right: 44px;
  float: left;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
color: #2f2f2f;
}

.single-page__content-slider-info-main-chaarah-text2span {
    font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
color: #2f2f2f;
}

.single-page__content-slider-info-main-prise {
    text-align: center;
    margin-top: 37px;
    color: #ef5b70;
font-size: 24px;
font-weight: 700;
line-height: 24px;
    margin-bottom: 43px;
}

.single-page__content-slider-info-main-line {
    border: 1px solid #eaeaea;
background-color: #ef5b70;
    width: 642px;
    height: 1px;
}

.single-page__content-slider-info-main-setting {
    height: 118px;
   width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.single-page__content-slider-info-main-setting-color {
    width: 144px;
height: 35px;
border: 1px solid #eaeaea;
background-color: #ffffff;
    color: #bcbcbc;
font-size: 17px;
font-weight: 400;
line-height: 24px;
    background: url(img/Rectangle_30.png) no-repeat;
    background-position: 10% 50%;
    padding-left: 30px;
}

.single-page__content-slider-info-main-setting-color:hover {
    border: 1px solid #ef5b70;
}

.single-page__content-slider-info-main-setting-color-text {
    text-align: center;
    color: #2f2f2f;
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
    margin-bottom: 12px;
}



.single-page__content-slider-info-main-setting-color-div {
    width: 144px;
    margin-right: 53px;
}

.single-page__content-slider-info-main-setting-size {
       width: 144px;
height: 35px;
border: 1px solid #eaeaea;
background-color: #ffffff;
    color: #bcbcbc;
font-size: 17px;
font-weight: 400;
line-height: 24px;
    padding-left: 15px;
}

.single-page__content-slider-info-main-setting-size:hover {
    border: 1px solid #ef5b70;
}

.single-page__content-slider-info-main-setting-quantity {
       width: 144px;
height: 35px;
border: 1px solid #eaeaea;
background-color: #ffffff;
    color: #bcbcbc;
font-size: 17px;
font-weight: 400;
line-height: 24px;
    padding-left: 15px;
}

.single-page__content-slider-info-main-setting-quantity:hover {
    border: 1px solid #ef5b70;
}

.single-page__content-slider-info-main-setting-button {
    display: block;
    width: 537px;
height: 55px;
border: 1px solid #ef5b70;
background-color: #ffffff;
    color: #ef5b70;
font-size: 16px;
font-weight: 700;
    text-align: center;
    line-height: 55px;
    background: url(img/add-to-cart.png) no-repeat;
    background-position: 37% 50%;
}

.single-page__content-slider-info-main-setting-button:hover {
    background-color: #ef5b70;
    color: #ffffff;
}

.single-page__content-slider-info-main-block1 {
   text-align: center;
    width: 100%;
}

.single-page__content-slider-info-main-block2 {
    width: 60%;
}

.single-page__content-slider-info-main-block2-chaarah {
    display: flex;
    justify-content: center;
}


.single-page__content-slider-info-main-chaarah-text1-div {
}

.single-page__content-product {
    display: flex;
    justify-content: space-between;
}

.single-page__content-product-title {
    color: #4d4d4d;
font-size: 30px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
    text-align: center;
    margin: 119px 0px 72px 0px;
}

.shiping__content-01-form-left {
    margin-left: 25px;
}

.drop {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ececec;
    display: flex;
    position: absolute;
    top: 35px;
    left: 0px;
    display: none;
}

.drop_menu {
    list-style-type: none;
    margin-top: 16px;
}


.drop__h3 {
    color: #232323;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-top: 15px;
}

.drop__link {
    color: #4f4f4f;
font-size: 14px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.35px;
}

.drop__flex {
    width: 263px;
}





.shopping__list {
}



.cell-header {
    color: #222222;
font-size: 13px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
letter-spacing: -0.2px;
}

.shopping__list-cell {
    display: flex;
}

.shopping__list-column-1 {

}

.shopping__list-column {
    flex-grow: 1;
}

.drop-cart {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ececec;
    display: flex;
    position: absolute;
    top: 35px;
    left: 0px;
    display: none;
}


.drop-cart-product {

}

.drop-cart-product-1-bg {
    background: url(img/cart_prod1.png);
    width: 72px;
    height: 85px;
}

.drop-cart-product-1-star {
    color: #e4af48;
    display: flex;
}

.drop-cart-product-1-title {
color: #222222;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
    margin-left: 17px;
}

.drop-cart-produect-1-title {
    margin-bottom: 10px;
color: #222222;
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
}

.star-cart {
    width: 17px;
    height: 17px;
}

.drop-cart-produect-1-price {
    margin-top: 12px;
    color: #f16d7f;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
}

.drop-cart-product-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.drop-cart-produect-1-close {
    color: #c0c0c0;
}

.drop-cart-produect-1-close:hover {
    color: red;
}

.drop-cart-product-2 {
        display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    padding-top: 20px;
}

.drop-cart-product-2-bg {
        background: url(img/cart-prod-2.png);
    width: 72px;
    height: 85px;
}

.drop-cart-produect-end-price {
    color: #222222;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.drop-cart-produect-check {
    margin-top: 32px;
    text-align: center;
    display: block;
    padding: 19px 74px;
    border: 1px solid #f16d7f;
    color: #f16d7f;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}

.drop-cart-produect-check:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.drop-cart-produect-goto {
    color: #4a4a4a;
        margin-top: 11px;
    text-align: center;
    display: block;
    padding: 19px 74px;
    border: 1px solid #4a4a4a;

font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}

.drop-cart-produect-goto:hover {
    background-color: #4a4a4a;
    color: #ffffff;
}

.column-1 {
    flex-grow: 5;
}

.shopping__list-column-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    color: #222222;
font-size: 13px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
letter-spacing: -0.2px;
}

.shopping {
    margin-top: 90px;
}

.shopping__list-column-info {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px;
}

.shopping__list-column-info-text-1 {
    color: #222222;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;margin-top: 35px;
    margin-top: 15px;
}

.shopping__list-column-info-text-2 {
    color: #6f6e6e;
font-size: 13px;
font-weight: 300;
line-height: 20px;
    margin-top: 38px;
}



.shopping__list-column-img {
    background-color: #d1d1d1;
    background: url(img/SC-col-1.png);
    width: 100px;
height: 115px;
}

.shopping__list-coluemn-info {
    border-bottom: 1px solid #eaeaea;
}
